
/*
.signup-form-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.signup-form{
    max-width: 50rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
}

.signup-email-field, .signup-password-field, .confirm-password-field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
}

#signup-email, #signup-password, #confirm-password{
    width: 25rem;
    height: 2rem;
    border-radius: .5rem;
    border: .1rem solid var(--button-color);
    padding: .75rem;
}

#signup-email:focus, #signup-password:focus, #confirm-password:focus{
    outline: none;
    border: .13rem solid var(--supplementary-color);
}

.requirement{
    display: flex;
    align-items: center;
    gap:.5rem;
}

.requirement > span{
    color: gray;
}

.valid{
    outline: none;
    border: .13rem solid rgb(79, 202, 79) !important;
}

@media screen and (max-width: 762px) {
    #signup-email, #signup-password, #confirm-password{
        width: 14rem;
        height: 2rem;
    }
}
*/