
.results-skeleton-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.featured-container{
    display: flex;
    justify-content: center;
    overflow: hidden;
    gap: 2rem;
}

.result{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
