.details-skeleton-container {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 3rem;
    padding: 5rem;
    background-color: var(--side-bg-color);

    
}

.chapters-list-skeleton-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.details-skeleton{
    flex: 1;
    display: grid;
    gap: 5rem;
    text-align: start;
}

.title-skeleton{
    justify-self: flex-start;
}

.category-skeleton{
    text-align: start;
    width: 25rem;
}

.cover-skeleton{
    width: 20rem;
}

@media screen and (max-width: 1024px) {

    .details-skeleton-container{
        padding: .5rem;
    }

    .details-skeleton, .category-skeleton, .cover-skeleton{
        width: 100%;
    }

    .cover-skeleton{
        height: 30rem;
    }

    .details-skeleton-container, .details-skeleton, .category-skeleton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }


    
}
