.image-display-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.chapter-image-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.chapter-image{
    width: 60rem;
    height: auto;
}

.control-buttons-container{
    width: 30rem;
    display: flex;
    justify-content: center;
}

.control-buttons{
    width: 100%;
    padding: 1rem;
    gap: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.reader-options{
    display: grid;
    grid-template-columns: 1fr/1fr;
    align-items: center;
    width: 100%;
}

.return-logo{
    grid-column: 1 / 2;
    justify-self: flex-start;
    align-self: center;
    padding: .3rem;
}

.chapter-selector{
    grid-column: 2 / 3;
    justify-self: flex-start;
    align-self: center;
    padding: .3rem;
}

.logo{
    width: 3rem;
    height: auto;
}

@media screen and (max-width: 1024px) {
    .chapter-image{
        width: 55rem;
        height: auto;
    }
}

@media screen and (max-width: 912px) {
    .chapter-image{
        width: 45rem;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .chapter-image{
        width: 35rem;
        height: auto;
    }
}

@media screen and (max-width: 762px) {
    .chapter-image{
        width: 21rem;
        height: auto;
    }

    .reader-options{
        display: flex;
        gap: 1rem;
    }

    .control-buttons-container{
        width: 20rem;
        
    }

    .control-buttons{
        gap: 1rem;
    }
}

@media screen and (max-width: 400px) {

    .chapter-image{
        width: 19.5rem;
        height: auto;
    }

    .reader-options{
        display: flex;
        gap: 1rem;
    }
}

@media screen and (max-width: 360px) {

    .chapter-image{
        width: 18rem;
        height: auto;
    }

    .reader-options{
        display: flex;
        gap: 1rem;
    }
}