.manga-cover-img{
    width: 25rem;
    height: auto;
    grid-row: 1 / 3;
    justify-self: center;
    border-radius: 1rem;
}

.details-container{
    max-height: 80vh;
    height: fit-content;
    display: grid;
    grid-template: auto 2.5rem / 1fr 3fr;
    margin-bottom: 3rem;
    border-radius: .75rem;
    padding: 5rem;
    background-color: var(--primary-color);
}

.details{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.manga-title, .chapters-container>h2{
    text-align: start;
}

.tags-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 64rem;
    height: auto;
    
}

.tag{
    max-width: 10rem;
    padding: .6rem;
    color: white;
    background-color: var(--button-color);
    border-radius: .6rem;
    cursor: pointer;

}

.tag:hover{
    color: var(--highlight-color);
}

.start-reading-button{
    grid-column: 2 / 3;
    align-self: center;
    width: 15rem;
    height: 3.5rem;
    background-color: var(--button-color);
}

.volume-chapter-container{

    display: flex;
    flex-direction: column;
}

.chapters-container{

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.chapter-list{
    display: grid;
    grid-column: auto;
    background-color: var(--primary-color);
    border-radius: 2rem;
    padding: 1.5rem;
    gap: 2rem;
}

.volume-chapter-title>h2{
    text-align: start;
}


.chapter{
    background-color: var(--button-color);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    width: 13rem;
    max-width: 13rem;
    height: 3rem;
    cursor: pointer;
}

.chapter:hover{
    color: var(--highlight-color);
}

.manga-descriptions{
    width: 65rem;
}

.manga-descriptions>p{
    text-align: start;
}

.chapter-container {
    display: flex;              /* Align items in a horizontal row */
    justify-content: center;
    align-items: center;        /* Vertically center the text */
    width: 100%;                /* Ensure the container takes up the full width */
}

.chapter-number{
    white-space: nowrap;
    margin-right: .2rem; /* Add a small space between the number and title */
}

.chapter-title {
    /*Prevent title from overflowing */
    white-space: nowrap;        
    overflow: hidden;           
    text-overflow: ellipsis;
    max-width: 50%;
}