.manga-cover-img{
    width: 25rem;
    height: auto;
}

.details-container{
    max-height: 80vh;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 3rem;
    border-radius: .75rem;
    padding: 5rem;
    background-color: #414141;
}

.manga-title, .chapters-container>h2{
    text-align: start;
}

.tags-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 64rem;
    
}

.tag{
    max-width: 10rem;
    padding: .6rem;
    background-color: orangered;
    border-radius: .6rem;

}

.data-container{
    
}

.volume-chapter-container{

    display: flex;
    flex-direction: column;
}

.chapters-container{

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.chapter-list{
    display: grid;
    grid-column: auto;
    gap: 2rem;
}

.volume-chapter-title>h2{
    text-align: start;
}


.chapter{
    background-color: rgb(77, 77, 77);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    width: 13rem;
    max-width: 13rem;
    height: 3rem;
}

.manga-descriptions{
    width: 65rem;
}

.manga-descriptions>p{
    text-align: start;
}

.chapter-container {
    display: flex;              /* Align items in a horizontal row */
    justify-content: center;
    align-items: center;        /* Vertically center the text */
    width: 100%;                /* Ensure the container takes up the full width */
}

.chapter-number{
    white-space: nowrap;
    margin-right: .2rem; /* Add a small space between the number and title */
}

.chapter-title {
    /*Prevent title from overflowing */
    white-space: nowrap;        
    overflow: hidden;           
    text-overflow: ellipsis;
    max-width: 50%;
}