
.header-container{
    background-color: lightsalmon;
    height: auto;
    max-height: 4.5rem;
    position: sticky;
    top: 0;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    z-index: 1;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    width: 10%;
    gap: 4%;
}