
.header-container{
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    padding: 1.5rem;
    box-shadow: 0 1px 5px var(--box-shadow-color);

    height: auto;
    max-height: 2rem;

    grid-row: 1 / 2;
    grid-column: 1 / 4;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 1;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    width: 10%;
    gap: 4%;
}