.login-form-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.login-form{
    max-width: 50rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
}

.email-field, .password-field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
}

#email, #password{
    width: 25rem;
    height: 2rem;
    border-radius: .5rem;
    border: .1rem solid var(--button-color);
    padding: .75rem;
}

#email:focus, #password:focus{
    outline: none;
    border: .13rem solid var(--supplementary-color);
}

@media screen and (max-width: 762px) {
    #email, #password{
        width: 14rem;
        height: 2rem;
    }
}