:root{
    --tooltip-text-color: white;
    --tooltip-background: #424242;
    --tooltip-arrow-size: .5rem;
    --tooltip-margin: 3rem;
}

.tooltip-container{
    position: relative;
    display: inline-block;
}

.tooltip{
    position: absolute;
    border-radius: .25rem;
    padding: .5rem;
    white-space: nowrap;
    z-index: 100;
    left: 50%; /* Center the tooltip */
    transform: translateX(-50%); /* Center the tooltip */
    background-color: var(--tooltip-background);
    color: var(--tooltip-text-color);

}

.tooltip::before{
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border: solid transparent;
    pointer-events: none;
    border-width: var(--tooltip-arrow-size);
    margin-left: calc(var(--tooltip-arrow-size) * -1);
    left: 50%;

}

.tooltip.top{
    top: calc(var(--tooltip-margin) * -1);
}

.tooltip.top::before{
    top: 100%;
    border-top-color: var(--tooltip-background);
}

.tooltip.bottom{
    bottom: calc(var(--tooltip-margin) * -1);
}

.tooltip.bottom::before{
    bottom: 100%;
    border-bottom-color: var(--tooltip-background);
}

.tooltip.left {
    left: auto;
    right: calc(100% + var(--tooltip-margin));
    top: 50%;
    transform: translateX(0) translateY(-50%);
}
.tooltip.left::before {
    left: auto;
    right: calc(var(--tooltip-arrow-size) * -2);
    top: 50%;
    transform: translateX(0) translateY(-50%);
    border-left-color: var(--tooltip-background);
}

.tooltip.right {
    left: calc(100% + var(--tooltip-margin));
    top: 50%;
    transform: translateX(0) translateY(-50%);
  }

.tooltip.right::before {
    left: calc(var(--tooltip-arrow-size) * -1);
    top: 50%;
    transform: translateX(0) translateY(-50%);
    border-right-color: var(--tooltip-background);
  }