#root {
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  padding: 0;
  text-align: center;
  display: grid;
  grid-template: 1fr 10fr / 1fr 7fr 1fr;
  gap: 4%;
  overflow: scroll;
  

}

.main-contents{
  padding: 2rem;
  max-width: 85vw;
  width: 85vw;
  height: auto;
  border-radius: 2rem;
  grid-column: 2 / 3;
  background-color: var(--primary-color);
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
