
.latest-uploads-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.latest-slider{
    width: 70%;
    max-width: 80%;
    
}

.slick-list{
    
}

.slick-track{
    margin: 0 1.5rem;
}

.slick-dots{

}